[submodule "catkin_ws/src/egohands_ros"]
	path = catkin_ws/src/egohands_ros
	url = git@github.com:DiaboloKiat/egohands_ros.git
[submodule "catkin_ws/src/bodyparts_ros"]
	path = catkin_ws/src/bodyparts_ros
	url = git@github.com:DiaboloKiat/bodyparts_ros.git
[submodule "catkin_ws/src/ggcnn_humanseg_ros"]
	path = catkin_ws/src/ggcnn_humanseg_ros
	url = git@github.com:DiaboloKiat/ggcnn_humanseg_ros.git
[submodule "catkin_ws/src/sensors/vision_opencv"]
	path = catkin_ws/src/sensors/vision_opencv
	url = git@github.com:ros-perception/vision_opencv.git
[submodule "catkin_ws/src/sensors/realsense-ros"]
	path = catkin_ws/src/sensors/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
